
*.suo
*.user

[Dd]ebug/
[Rr]elease/
x64/
x86/

.vs/

[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*


*.ilk
*.meta
*.obj
*.pch
*.pdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*.log
*.vspscc
*.vssscc
.builds
*.pidb
*.svclog
*.scc

ipch/
*.aps
*.ncb
*.opendb
*.opensdf
*.sdf
*.cachefile
*.VC.db
*.VC.VC.opendb


x64/
*.vhd
carbon_v2.vhd/

ports/
fonts/
carbkrnl/config
*.gz
Logs
*.vbox-prev
*.vmxf
*.vmsd
nvram
*.lck
*.ini
BIOS-bochs-latest
BIOS-bochs-legacy
VGABIOS-lgpl-latest
Pog.TXT